<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Create a Custom Postcard!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <h1>Fill in your Madlib</h1>
      <form action="/postcard" method="post">
     <label for="Adjective">Adjective</label>
     <input id="Adjective" name="Adjective" type="text"><br>
     <label for="Verb">Verb</label>
     <input id="Verb" name="Verb" type="text"><br>
     <label for="Saying">Saying</label>
     <input id="Saying" name="Saying" type="text"><br>
     <label for="Noun">Noun</label>
     <input id="Noun" name="Noun" type="text"><br>
     <label for="Foods">Foods</label>
     <input id="Foods" name="Foods" type="text"><br>
     <label for="Color">Color</label>
     <input id="Color" name="Color" type="text"><br>
     <label for="Ride">Something you would ride in</label>
     <input id="Ride" name="Ride" type="text"><br>
     <label for="Animal">Animal</label>
     <input id="Animal" name="Animal" type="text"><br>
     <label for="Person">Person</label>
     <input id="Person" name="Person" type="text"><br>
     <button type="submit">Go!</button>
    </form>
  </body>
</html>